@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}


:root {
    --dark-green: #112a34;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}
.first{
    height: 60px;
}
.second{
    height: auto;
    width: 98%;
    margin-top: 40px;
    border-radius: 2rem;
    margin-left: 20px;
    background-image: url(section-background.jpg);
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--green-color);
}
h1{
    font-family: cursive;
}
.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}



.home .home-box nav {
    width: 100%;
    height: 65px;
    background: linear-gradient(rgba(12, 12, 12, 0.712),rgba(220, 11, 11, 0.2));
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--green-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu .close {
    display: none;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}


header h1 {
    font-size: 3rem;
}



/* Team Section */
.team {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.team-member {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 220px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.team-member p {
    font-size: 1rem;
    color: #777;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header, body.dark-mode footer {
    background-color: #444;
}

body.dark-mode .modal-content {
    background-color: #444;
    color: #fff;
}

body.dark-mode .team-member {
    background-color: #444;
    color: #fff;
}
footer {
    padding:  1rem;
    width: 100%;
}

footer .footer {
    background: var(--dark-green);
    border-radius: .7rem;
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .cont {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--green-color);
    gap: 2rem;
}

footer .footer .cont .detail {
    max-width: 32rem;
}

footer .footer .cont .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .cont .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .cont .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .cont .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #00cee4;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .cont .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .cont .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}

footer .footer .cont h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

footer .footer .cont li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .cont a {
    color: rgb(255 255 255/80%);
}

footer .footer .cont a:hover {
    color: var(--white-color);
}

footer .footer .cont span {
    color: #000;
    background: #00cee4;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}
/* media section starts here  */
@media (max-width: 1020px) {
  html {
      font-size: 85%;
  }

  section {
      padding: 0 2rem;
  }

  footer .footer {
      padding: 2rem;
  }
}

@media (max-width: 910px) {

  .home .home-box nav {
      padding: 0 1rem;
  }

  .home .home-box nav .menu ul {
      gap: 2rem;
  }

  .destinations .container .container-box {
      flex-direction: column;
      align-items: flex-start;
  }

  footer .footer .container {
      flex-direction: column;
  }
}
@media (max-width: 767px) {

    .heading {
        font-size: 2rem;
    }
    .home .home-box nav .menu {
        display: none;
    }

    .home .home-box nav .logo .bar {
        display: block;
    }

    .home .home-box nav .menu.active {
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    .home .home-box nav .menu .close {
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
        cursor: pointer;
        color: var(--white-color);
        font-size: 2rem;
    }

    .home .home-box nav .menu .close:hover {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul {
        flex-direction: column;
        font-size: 1.3rem;
        gap: 1rem;
    }

    .home .home-box nav .menu ul:hover li a {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul li a:hover {
        color: var(--white-color);
    }

    .home .home-box .content {
        padding: 2rem;
    }
}

@media (max-width: 607px) {
    .home .home-box .content h1 {
        font-size: 2rem;
    }

    .home .home-box .content p {
        font-size: .8rem;
    }
}


/* media section starts here  */